name: "Azure OpenAPI"

trigger:
  batch: false
  branches:
    include:
      - master

variables:
  TRAVIS: 'true'
  TRAVIS_BRANCH: $(System.PullRequest.TargetBranch)
  TRAVIS_PULL_REQUEST: $(System.PullRequest.PullRequestNumber)
  TRAVIS_REPO_SLUG: $(Build.Repository.Name)
  TRAVIS_PULL_REQUEST_SLUG: $(Build.Repository.Name)
  TRAVIS_PULL_REQUEST_SHA: $(Build.SourceVersion)
  PR_ONLY: 'true'

stages:
  - stage:
    condition: in(variables['Build.Reason'], 'PullRequest', 'Manual')
    jobs:
    - template: .azure-pipelines/BranchProtectionForPrivateRepo.yml
    - template: .azure-pipelines/Syntax.yml
    - template: .azure-pipelines/Semantic.yml
    - template: .azure-pipelines/Avocado.yml
    - template: .azure-pipelines/ModelValidation.yml
    - template: .azure-pipelines/BreakingChange.yml
    - template: .azure-pipelines/LintDiff.yml
    - template: .azure-pipelines/NetworkValidation.yml
    - template: .azure-pipelines/Spellcheck.yml
    - template: .azure-pipelines/SDKAutomation.yml

  - stage:
    condition: in(variables['Build.Reason'], 'IndividualCI')
    dependsOn: []
    jobs:
    - template: .azure-pipelines/SDKAutomation.yml
